.container
  %p#notice= notice
  
  .row
    .col.s12.m5
      .card-panel.red.lighten-5
        %span.black-text
          %p
            %b Nombre:
            = @restaurant.name
          %p
            %b Domicilio:
            = @restaurant.address
          %p
            %b Teléfono:
            = @restaurant.phone
          %p
            %b RFC:
            = @restaurant.rfc
          %p
            %b Descripcion:
            = @restaurant.description
          %p
            %b Categoría:
            = @restaurant.category.name

          =link_to 'Ver platillos', restaurant_dishes_path(@restaurant)
          \|
          = link_to 'Editar', edit_restaurant_path(@restaurant)
          \|
          = link_to 'Regresar', restaurants_path

    .col.s12.m5
      = image_tag(@restaurant.image.url,width: 300 , heidth: 200, pading: 10)
.separator
.separator