!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BonAppetit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.amber.darken-4
      .nav-wrapper.container
        =image_tag('Icono.png', width: 60, heidth: 50)
        %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
          %i.mdi-navigation-menu
        %ul.right.hide-on-med-and-down
          %li
            %a{:href => root_url} Inicio
          %li
            %a{:href => '/categorias'} Restaurantes
          - if user_signed_in?
            %li
              = link_to 'Cerrar sesión' , destroy_user_session_path, method: :delete
          - else
            %li
              %a{:href => new_user_session_path} Iniciar sesión
        %ul#mobile-demo.side-nav
          %li
            %a{:href => "index.html"} Inicio
          %li
            %a{:href => "/categories"} Restaurantes
          - if user_signed_in?
            %li
              %a{:href => destroy_user_session_path} Cerrar sesión
          - else
            %li
              %a{:href => new_user_session_path} Iniciar sesión
    
    = yield
    
    %footer.page-footer.amber.darken-4
      .container
        .row
          .col.l6.s12
            %h5.white-text Contactanos
            %p.grey-text.text-lighten-4 Av. Universidad #333 Col. Las Vívoras. Colima, Col. Telefono (312) 313- 67-89
          .col.l4.offset-l2.s12
            %h5.white-text Correo electronico
            %ul
              %li
                %a.grey-text.text-lighten-3{:href => "#!"} contacto@arekartech.com


    :javascript
    $(document).ready(function(){
      $(".button-collapse").sideNav();
      $('.parallax').parallax();
    }) 
